body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

#nav-bar {
  display: flex;
  align-items: center;
  height: 10vh;
}

#nav-content {
  display: flex;
  align-items: baseline;
  gap: 80px;
  margin: 0 auto;
  width: 90vw;
}

#nav-header {
  color: #EAB14B;
  font-size: 42px;
  transition: 0.3s ease-in-out;
}

a {
  text-decoration: none;
}

#home-link {
  font-size: 18px;
  color: #E1C8AC;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
#home-link:hover {
  color: #619259;
}

body {
  background-color: #282521;
  font-family: sans-serif;
}

#menu-container {
  margin: auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  height: 100vh;
}

#menu {
  display: flex;
  flex-direction: column;
}

#menu-header {
  color: #EAB14B;
  font-size: 42px;
}

.menu-item {
  font-size: 30px;
  color: #E1C8AC;
  transition: 0.3s ease-in-out;
}
.menu-item:hover {
  color: #619259;
}

a {
  text-decoration: none;
}

.instructions-header {
  font-size: 30px;
  color: #EAB14B;
}

a {
  text-decoration: none;
}

#back-button {
  background-color: #1D1B18;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  color: #619259;
  line-height: 50px;
  width: 150px;
  height: 50px;
  transition: 0.2s ease-in-out;
}
#back-button:hover {
  color: #E1C8AC;
  transform: translateX(-3px);
  cursor: pointer;
}

#rules ul li {
  margin-bottom: 5px;
  font-size: 18px;
}

#controls {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#instructions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 90vw;
  height: 80vh;
  color: #E1C8AC;
}

.control-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1D1B18;
  border-radius: 10px;
  width: 400px;
  height: 60px;
}

.control-name {
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #619259;
}

.control-bind {
  padding-right: 20px;
  line-height: 60px;
  width: 115px;
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#game-content-container {
  display: flex;
  justify-content: space-evenly;
}

#gameboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
}

#scoreboard-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background-color: #1D1B18;
  width: calc(70vw + 10px);
  height: 10vh;
}

.player-score-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

#score-header {
  font-size: 30px;
  color: #EAB14B;
}

.player-name {
  color: #E1C8AC;
  font-size: 25px;
}

.player-score {
  color: #619259;
  font-size: 42px;
}

#gameboard {
  display: grid;
  width: 70vw;
  height: 600px;
  border: 5px solid black;
}

#turn-information {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: #E1C8AC;
  font-size: 30px;
}

#leaderboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20vw;
}

#leaderboard-header {
  background-color: #1D1B18;
  border-radius: 10px;
  color: #EAB14B;
  font-size: 30px;
  line-height: 10vh;
  text-align: center;
  height: 10vh;
}

#leaderboard-scores {
  background-color: rgba(59, 54, 48, 0.662745098);
  border-radius: 10px;
  height: 610px;
}

/*# sourceMappingURL=output.css.map */

/* Error: Can't find stylesheet to import.
 *   ,
 * 7 | @import "MainMenu";
 *   |         ^^^^^^^^^^
 *   '
 *   SCSS/styles.scss 7:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 7 \2502  @import \"MainMenu\";\a   \2502          ^^^^^^^^^^\a   \2575 \a   SCSS/styles.scss 7:9  root stylesheet";
}
