$black: #1D1B18;
$black-lo: #3b3630a9;
$brown: #c4a886;
$dark-brown: #282521;
$green: #619259;
$yellow: #EAB14B;
$tan: #E1C8AC;

$finish: #ffd630;
$player-one: #4356FF;
$player-two: #FF4545;
$path: #c4a886;