#game-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#game-content-container {
    display: flex;
    justify-content: space-evenly;    
}

#scoreboard-gameboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#scoreboard-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: $black;
    width: calc(70vw + 10px);
    height: 10vh;
}

.player-information {
    // background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .player-name {
        color: $tan;
        font-size: 25px;
    }

    #item-count-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 35px;
        width: 200px;
    }

    .item-holder {
        display: flex;
        width: 30%;
        height: 100%;
    
        .item-picture {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px 0 0 10px;
            width: 100px;
        
            img {
                height: 90%;
            }
        }
    
        .item-count {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 10px 10px 0;
            font-size: $m;
            color: $yellow;
            width: 100px;
        } 
    }
}

#timer {
    font-size: $xl;
    color: $yellow;
}

.player-score {
    color: $green;
    font-size: $xl;
}

#gameboard {
    display: grid;
    width: 70vw;
    height: 600px;
    border: 5px solid black;
    
    div {
        height: 35.29px;
    }
}

.player {
    background-color: #67d9ff;
}

.path {
    background-color: #c4a886;
}

.wall {
    background-color: #619259;
}

.special-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c4a886;
    img {
        width: 100%;
    }
}

.finish {
    background-color: #ffd630;
}

#leaderboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20vw;

    #leaderboard-header {
        background-color: $black;
        border-radius: 10px;
        color: $yellow;
        font-size: $l;
        line-height: 10vh;
        text-align: center;
        height: 10vh;
    }
    
    #leaderboard-scores {
        background-color: $black-lo;
        border-radius: 10px;
        height: 610px;
    }
}