#game-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#game-content-container {
    display: flex;
    justify-content: space-evenly;    
}

#scoreboard-gameboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#scoreboard-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: $black;
    width: calc(70vw + 10px);
    height: 10vh;
}

.player-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .player-name {
        color: $tan;
        font-size: 25px;
    }

    .item-count-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 35px;
        width: 200px;
    }

    .item-holder {
        display: flex;
        width: 30%;
        height: 100%;
    
        .item-picture {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px 0 0 10px;
            width: 100px;
        
            img {
                height: 90%;
            }
        }
    
        .item-count {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 10px 10px 0;
            font-size: $m;
            color: $yellow;
            width: 100px;
        } 
    }
}

#timer {
    font-size: 30px;
    color: $yellow;
    text-align: center;
    width: 210px;
}

.player-score {
    color: $green;
    font-size: $l;
}

.winner-message {
    grid-column: 12 / 20;
    grid-row: 2;
    font-size: $xl;
    text-align: center;
    color: $yellow;
}

#gameboard {
    width: 70vw;
    height: 600px;
    border: 5px solid black;
    border-radius: 10px;
    div {
        height: 35.29px;
    }
    background-color: $green;
}

.player1 {
    background-color: $player-one;
}

.player2 {
    background-color: $player-two;
}

.path {
    background-color: $path;
}

.wall {
    background-color: $green;
}

.special-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $path;
    img {
        width: 100%;
    }
}

.finish {
    background-color: $finish;
}

.top-left-corner {
    background-color: $green;
    border-radius: 5px 0 0 0;
}

.top-right-corner {
    background-color: $green;
    border-radius: 0 5px 0 0;
}

.bottom-left-corner {
    background-color: $green;
    border-radius: 0 0 0 5px;
}

.bottom-right-corner {
    background-color: $green;
    border-radius: 0 0 5px 0;
}

#leaderboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20vw;

    #leaderboard-header {
        background-color: $black;
        border-radius: 10px;
        color: $yellow;
        font-size: $l;
        line-height: 10vh;
        text-align: center;
        height: 10vh;
    }
    
    #leaderboard-scores {
        display: flex;
        flex-direction: column;
        background-color: $black-lo;
        border-radius: 10px;
        height: 610px;
    }

    .leaderboard-score {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 80%;
        height: 50px;
        text-align: center;
        color: $tan;

        #index {
            width: 30px;
            font-size: $s;
            color: $yellow;
        }

        #leaderboard-name {
            font-weight: bold;
        }

        #leaderboard-time {
            width: 50px;
            font-size: $s;
            color: $green;
        }
    }
}