@import "Global";

body {
    background-color: $dark-brown;
}

#menu-container {
    margin: auto auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    height: 100vh;
}

#menu {
    display: flex;
    flex-direction: column;
}

#menu-header {
    color: $yellow;
    font-size: $xl;
}

.menu-item {
    font-size: 30px;
    color: $tan;
    transition: 0.3s ease-in-out;

    &:hover {
        color: $green;
    }
}

a {
    text-decoration: none;
}

